.categoriesDiv{
    height: 60px;
    width: 600px;
    display: flex;
    box-sizing: border-box;
}

.gameCategories{
    width: 230px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.dlc{
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.cardsAndSubs{
    width: 270px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
