.main{
  width: 1000px;
  height: 60px;
  font-family: Roboto;
  text-align: center;
  position: sticky;
  top: 100%;
}
.logo{
  width: 70px;
}

.text{
  font-size: 12px;
}

.ja{
  font-size: 14px;
  font-weight: bold;
}