.main{
    width: 1000px;
    height: 100%;
    margin: auto;
    display: block;
    font-family: Roboto;
}

.header{
    width: 1000px;
    height: 60px;
    display: flex;
}

.logoDiv{
    height: 60px;
    width: 120px;
    text-align: left;
}

.logo{
    height: 50px;
}

.categoriesDiv{
    height: 60px;
    width: 500px;
}

.searchDiv{
    height: 60px;
    width: 260px;
}

.iconsDiv{
    height: 60px;
    width: 120px;
    display: block;
}

.cartDiv{
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
}

.cartIcon{
    width: 26px;
    margin-top: 17px;
}

.userDiv{
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
}

.userIcon{
    width: 26px;
    margin-top: 17px;
}







